<h1>Log In</h1>

<p>New Gym? <%= link_to 'Create an account', register_path %></p>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.email_field :email, placeholder: 'Email', required: true %> <br>
  <%= f.password_field :password, placeholder: 'Password', required: true %> <br>

  <%= f.submit 'Log In' %>
<% end %>
