<% if @participants.count != 1 %>
  <%= link_to @participants.count.to_s + ' people are coming', gym_event_participants_path(@gym, @event) %><br>
<% else %>
  <%= link_to @participants.count.to_s + ' person is coming', gym_event_participants_path(@gym, @event) %><br>
<% end %>

<% if @participants.count <= 10 %>
  <ol class="participants_list">
    <%  @participants.each do |p| %>
      <li>
<% if p.user_id == 0 || p.user_id == nil %>
      <%= p.first_name %>
        <%if p.last_name != nil %>
          <%= p.last_name %>
        <% end %>
        <%if p.email != nil %>
          <%= p.email %>
        <% end %>
        <%if p.phone != nil %>
          <%= p.phone %>
        <% end %>
<% else %>
<% @user = User.find_by(id: p.user_id) %>
<i class="fas fa-star"></i>
<%= link_to @user.first_name + " " + @user.last_name, user_path(@user) %>
If participant is user OR user owns gym or event, allow delete
<%= link_to [@gym, @event, @participant], :method  => :delete do %>
  <i title="Delete" class="fas fa-times alt="Delete"></i>
  <% end %>

<% end %>

      </li>
    <% end %>
  </ol>
<% end %>
