
<div class="intform">
<%# if not logged in show this %>
RSVP for yourself or a friend<br>
<%= form_for([@gym, @event, @participant]) do |f| %>
<%= f.hidden_field :user_id, value: 0 %><br>
<%= f.text_field :first_name, placeholder: 'First Name (required)', required: true, :class => 'first' %><br>
<%= f.text_field :last_name, placeholder: 'Last Name', :class => 'gray' %><br>
<%= f.text_field :email, placeholder: 'email', :class => 'gray' %><br>
<%= f.text_field :phone, placeholder: 'phone', :class => 'gray' %><br>
<%= f.submit 'Join' %>
<% end %>
<%# else %>
<!-- if logged in, check if user is on the list
if so show 'add a friend' instead of 'add yourself' form
 -->
 <%# form_for([@gym, @event, @participant]) do |f| %>
 <%# f.hidden_field :user_id, value: current_user.id %><br>
 <%# f.submit 'Join' %>
 <%# end %>
</div>
