<h1><%= @event.name %></h1>


<h4><%= @event.event_type %><br></h4>
<span> Start: <%= @event.start_date.strftime("%y/%m/%d") %></span><br>
<span> End: <%= @event.end_date.strftime("%y/%m/%d") %></span><br>

<%= link_to @event.name + " participants", gym_event_participants_path(@gym, @event)  %>
