<div class="intform">
  <button id = "getcoordinates" style = "display:block;">Generate Coordinates (required)</button><hr>
<%= form_for @gym do |f| %>
Add your space<br>
<%= f.text_field :name, placeholder: 'name' %><br>
<%= f.text_field :location, placeholder: 'full location address' %><br>
<%= f.text_field :coordinates, readonly: true, class: 'gray' %><br>

<%= f.text_area :description, placeholder: 'Description' %><br>
<%= f.hidden_field :user_id, value: @current_user.id %><br>
<%= f.file_field :cover_photo, :class => "upload" %><br>
<%= f.submit 'Create' %>
<% end %>
</div>
