<ul id="nav-box">
      <li><%= link_to 'Leaderboard', leaderboard_path %></li>
    <li><%= link_to 'Basketball', basketball_path %></li>
    <li><%= link_to 'Soccer', soccer_path %></li>
    <li><%= link_to 'Football', football_path %></li>
    <li><%= link_to 'Other', other_path %></li>
        <li><%= link_to 'About Us', about_path %></li>
</ul>
