<!DOCTYPE html>
<html>
  <head>
    <title>Opengym</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <nav class="nav-top">
      <div class="nav-top-logo">Open Gym</div>
      <i class="fa fa-search"></i>
    </nav>

    <div id="yield-container"> <%= yield %> </div>

    <ul id="nav-box" class="hidden" >
      <li>
        Basketball
      </li>
      <li>
        Football
      </li>
      <li>
        Soccer
      </li>
    </ul>

    <nav class="nav-bottom">
      <i class="fa fa-envelope-o"></i>
      <div class="nav-bottom-logo">OG</div>
      <div id="bar-container" onClick="menuReveal()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </nav>

  </body>
</html>
